@{
    ViewData["Title"] = "Home Page";
}

<div class="fullBackground">
    <div class="title-Wrapper">
        <div class="inner-Content">
            <div class="image-Logo">
                <img src="/images/Logo.png" alt="Logo">
            </div>
            <div class="main-Title">
                <h3>where fitness meets efficiency</h3>
            </div>
        </div>
    </div>
</div>


<script src="~/js/Views/Home/home.js" asp-append-version="true"></script>
